<nav class="bg-blue-600 text-white">
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">

        <!-- Left Logo -->
        <a href="{% url 'home' %}" class="text-2xl font-bold">MySite</a>

        <!-- Right Menu -->
        <div class="flex items-center space-x-6">
            <a href="{% url 'home' %}" class="hover:underline">Home</a>



            {% if request.user.is_authenticated %}
            <!-- Profile -->
            <div class="flex items-center space-x-2">
                <img src="{{ request.user.profile_picture.url }}" class="w-9 h-9 rounded-full border-2 border-white object-cover"
                    alt="Profile">
                <a href="{% url 'profile' %}" class="hover:underline">{{ request.user.get_full_name }} </a>
            </div>

            <a href="{% url 'logout' %}" class="hover:underline">Logout</a>
            {% else %}
            <a href="{% url 'register' %}" class="hover:underline">Register</a>
            <a href="{% url 'login' %}" class="hover:underline">Login</a>
            {% endif %}

        </div>
    </div>
</nav>